.sidebar{
	width : 300px;
	height : calc(100vh - 52px);
	background : $gray-800;
	color : $white;
	position : fixed;
	z-index: 9999;
	top : 53px;
	.nav{
		.nav-item{
			a{
				color : $white;
				&.active,&:hover{
					background : $primary;
					border-radius : 0px 0px 0px 30px;
					color : rgba($white, .8);
				}
			}
		}
	}

	.app-name{
		height : 180px;
		width : 100%;
		padding : 10px;
		text-align : center;

		.avatar{
			width : 80px;
			height : 80px;
			border-radius : 100%;
			margin : 20px auto;
			border : 2px dotted $white;
		}

	}

	@media(max-width : 767px){
		width : 100%;
		display : none;
	}
}


.page-content{
	width : calc(100hw - 300px);
	min-height : calc(100vh - 55px);
	padding : 15px;
	margin-left : 300px;
	margin-top : 60px;

	@media(max-width : 767px){
		margin-left : 0px;
	}
}